<h1>Request Maintenance</h1>

<style>
    .float-buttons{
        display: flex;
        gap: 10px;
    }
    .float-img {
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
        border: solid black 1px
    }
    .float-delete{
        float: right
    }
</style>

<form method="post" enctype="multipart/form-data" action="{% url 'mainRequest:addRequest' %}">
    {% csrf_token %}

    <label for="aptNum">Apartment Number:</label>
    <input type="text" name="aptNum" required><br/><br/>

    <label for="area">Area of the Problem:</label>
    <input type="text" name="area" required><br/><br/>

    <label for="descr">Description:</label>
    <textarea name="descr" required></textarea><br/><br/>

    <label for="image">Image:</label>
    <input type="file" name="image" accept="image/*" required><br/><br/><br/>

    <button type="submit">Submit</button>
</form>
